@model ToDoListApplication.Models.ProfileViewModel

@{
    ViewData["Title"] = "Profile";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <title>@ViewData["Title"] - ToDoListApplication</title>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card mt-5">
                    <div class="card-header">
                        <h2 class="text-center">Profile</h2>
                    </div>
                    <div class="card-body">
                        <h4>User Information</h4>
                        <hr />
                        <dl class="row">
                            <dt class="col-sm-4">
                                Username
                            </dt>
                            <dd class="col-sm-8">
                                @Model.UserName
                            </dd>
                        </dl>
                    </div>
                    <div class="card-footer text-center">
                        <form asp-action="Logout" method="post">
                            <button type="submit" class="btn btn-primary">Logout</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
